In [1]:
print("Hello world !")

Hello world !

In [2]:
import findspark

In [3]:
findspark.init()

In [4]:
findspark.find()

'C:\\Users\\um2ya\\anaconda3\\envs\\pyspark_env_2\\Lib\\site-packages\\pyspark'

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('LesBases').getOrCreate()

In [ ]:
spark = SparkSession.builder.appName('').getOrCreate()

In [7]:
spark

In [9]:
df = spark.read.json('people.json')

In [10]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [11]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [12]:
df.columns

['age', 'name']

In [13]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [12]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [14]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [15]:
sch = [StructField('age',IntegerType(),True),
      StructField('name',StringType(),True)]

In [18]:
struct = StructType(fields=sch)

In [19]:
df = spark.read.json('people.json', schema = struct)

In [20]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [25]:
df = spark.read.option("inferSchema","true").json('people.json')

In [26]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [27]:
df['age']

Column<'age'>

In [28]:
type(df['age'])

pyspark.sql.column.Column

In [29]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [30]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [31]:
df.head(2)[1]

Row(age=30, name='Andy')

In [32]:
type(df.head(2)[1])

pyspark.sql.types.Row

In [33]:
df.select('age','name').show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [34]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [35]:
df.withColumn('triple_age', df['age'] * 3).show()

+----+-------+----------+
| age|   name|triple_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        90|
|  19| Justin|        57|
+----+-------+----------+

In [36]:
df.withColumnRenamed('name', 'first_name').show()

+----+----------+
| age|first_name|
+----+----------+
|null|   Michael|
|  30|      Andy|
|  19|    Justin|
+----+----------+

In [38]:
df.createOrReplaceTempView('people_view')

In [41]:
spark.sql('select * from people_view where name="Justin"').show()

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+

In [43]:
ma_requete = 'select * from people_view where name="Justin"'
spark.sql(ma_requete).show()

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+