In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Data_Heure").getOrCreate()

In [3]:
spark

In [4]:
df = spark.read.csv("appl_stock.csv", header=True, inferSchema=True)

In [5]:
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [12]:
from pyspark.sql.functions import year, month, day, dayofmonth, dayofweek, dayofyear, format_number, date_format, weekofyear, hour

In [8]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [11]:
df.select(dayofmonth(df['Date']).alias("jour du mois")).show()

+------------+
|jour du mois|
+------------+
|           4|
|           5|
|           6|
|           7|
|           8|
|          11|
|          12|
|          13|
|          14|
|          15|
|          19|
|          20|
|          21|
|          22|
|          25|
|          26|
|          27|
|          28|
|          29|
|           1|
+------------+
only showing top 20 rows

In [13]:
df.select(hour(df['Date']).alias("heure")).show()

+-----+
|heure|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
+-----+
only showing top 20 rows

In [14]:
df.select(dayofyear(df['Date']).alias("jour de l'année")).show()

+---------------+
|jour de l'année|
+---------------+
|              4|
|              5|
|              6|
|              7|
|              8|
|             11|
|             12|
|             13|
|             14|
|             15|
|             19|
|             20|
|             21|
|             22|
|             25|
|             26|
|             27|
|             28|
|             29|
|             32|
+---------------+
only showing top 20 rows

In [16]:
df.select(month(df['Date']).alias("mois")).show()

+----+
|mois|
+----+
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   1|
|   2|
+----+
only showing top 20 rows

In [17]:
df.select(year(df['Date']).alias("année")).show()

+-----+
|année|
+-----+
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
| 2010|
+-----+
only showing top 20 rows

In [21]:
df_com = df.select(
    df['Date'],
    dayofmonth(df['Date']).alias("jour du mois"),
    hour(df['Date']).alias("heure"),
    dayofyear(df['Date']).alias("jour de l'année"),
    month(df['Date']).alias("mois"),
    year(df['Date']).alias("année")
)
df_com.show()

+----------+------------+-----+---------------+----+-----+
|      Date|jour du mois|heure|jour de l'année|mois|année|
+----------+------------+-----+---------------+----+-----+
|2010-01-04|           4|    0|              4|   1| 2010|
|2010-01-05|           5|    0|              5|   1| 2010|
|2010-01-06|           6|    0|              6|   1| 2010|
|2010-01-07|           7|    0|              7|   1| 2010|
|2010-01-08|           8|    0|              8|   1| 2010|
|2010-01-11|          11|    0|             11|   1| 2010|
|2010-01-12|          12|    0|             12|   1| 2010|
|2010-01-13|          13|    0|             13|   1| 2010|
|2010-01-14|          14|    0|             14|   1| 2010|
|2010-01-15|          15|    0|             15|   1| 2010|
|2010-01-19|          19|    0|             19|   1| 2010|
|2010-01-20|          20|    0|             20|   1| 2010|
|2010-01-21|          21|    0|             21|   1| 2010|
|2010-01-22|          22|    0|             22|   1| 2010|
|2010-01-25|          25|    0|             25|   1| 2010|
|2010-01-26|          26|    0|             26|   1| 2010|
|2010-01-27|          27|    0|             27|   1| 2010|
|2010-01-28|          28|    0|             28|   1| 2010|
|2010-01-29|          29|    0|             29|   1| 2010|
|2010-02-01|           1|    0|             32|   2| 2010|
+----------+------------+-----+---------------+----+-----+
only showing top 20 rows