In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\spark'

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("NULL").getOrCreate()

In [4]:
spark

In [5]:
df = spark.read.csv("ContainsNull.csv", header=True, inferSchema=True)

In [6]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp2| NULL| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [7]:
df.na.drop().show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [9]:
df.na.drop(how="any").show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [11]:
df.na.drop(how="all").show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp2| NULL| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [10]:
df.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [16]:
df.na.drop(subset="Sales").show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [ ]:
df.na.fill("Non renseigner").show() # Pour toutes les colonnes type text

+----+--------------+-----+
|  Id|          Name|Sales|
+----+--------------+-----+
|emp1|          John| NULL|
|emp2|Non renseigner| NULL|
|emp3|Non renseigner|345.0|
|emp4|         Cindy|456.0|
+----+--------------+-----+

In [21]:
df2 = df.na.fill("Non renseigner")

In [22]:
df2.na.fill(0).show() # Pour toute les données numériques

+----+--------------+-----+
|  Id|          Name|Sales|
+----+--------------+-----+
|emp1|          John|  0.0|
|emp2|Non renseigner|  0.0|
|emp3|Non renseigner|345.0|
|emp4|         Cindy|456.0|
+----+--------------+-----+

In [23]:
df.na.fill('Nom inconnu', subset='Name').show()

+----+-----------+-----+
|  Id|       Name|Sales|
+----+-----------+-----+
|emp1|       John| NULL|
|emp2|Nom inconnu| NULL|
|emp3|Nom inconnu|345.0|
|emp4|      Cindy|456.0|
+----+-----------+-----+

In [24]:
df.fillna({'Name' : 'Nom inconnu'}).show()

+----+-----------+-----+
|  Id|       Name|Sales|
+----+-----------+-----+
|emp1|       John| NULL|
|emp2|Nom inconnu| NULL|
|emp3|Nom inconnu|345.0|
|emp4|      Cindy|456.0|
+----+-----------+-----+

In [36]:
from pyspark.sql.functions import mean, col

In [30]:
mean_df = df.select(mean('Sales')).collect()
mean_sales = mean_df[0][0]
print(mean_sales)

400.5

In [31]:
df.na.fill(mean_sales, subset='Sales').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| NULL|400.5|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+